# Archivos de dependencias
node_modules/
package-lock.json

# Variables de entorno
.env

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*.tmp
temp/
